<div class="row">
    <div class="col-12 col-md-5 offset-md-2 text-white" style="margin-top:30vh">

<p class="fw-light">Experience The </p>

<h1 class="fw-light">Best Trip Ever</h1>
<p class=" fw-lighter mt-5">
We are committed to offering travel services of the highest quality combining our energy and enthusiasm with years of experience.
</p>
<div class="btn btn-sm text-white fw-lighter bg-transparent  border-warning mt-4 ms-2 shadow-sm button" routerLink="/travels">choose</div>
    </div>

</div>
