<h2 class="my-5 text-center text-warning fw-lighter" >Cart</h2>

<div class="row">
<div class="col-12 col-sm-10 offset-sm-1 col-lg-6 offset-lg-3 p-3 ">
  <div class="col-6 d-flex justify-content-end">
    <i class="btn fas fa-times text-warning " (click)="onClick()"></i>
  </div>
  <div class="p-1 mb-3  border-top border-bottom col-6">

    <table class="table">
      <thead>
        <tr>
          <th class="text-white fw-light" scope="col">Product</th>
          <th class="text-white fw-light" scope="col">Price</th>
        </tr>
      </thead>
      <tbody class="cart-item" > 
      <tr *ngFor="let val of items">
        <td class="fw-light text-white">{{ val.destination }}</td>
        <td class="fw-light text-white">{{ val.price | currency }}</td>
        
      </tr>

      <tr class="border-top border-warning" *ngIf="items.length > 0 ">
        <td class="fw-light text-white" scope="col">Total:</td>
        <td class="fw-light text-white" scope="col">{{ total | currency }}</td>

      </tr>
      <tr *ngIf="percentShow != '' ">
        <td class="fw-light text-white" scope="col">Price  {{ percentShow }}</td>
        <td class="text-white" scope="col">{{ percenti | currency }}</td>
      </tr>

      </tbody>
    </table>

  </div>

  <div class="d-flex justify-content-end">
    <i class="btn fs-3 text-warning fw-light fas fa-window-close mb-2 " routerLink="../travels"></i>
  </div>

<form [formGroup]="checkoutForm" class=" shadow p-4" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div class="mb-3">
    <label for="name" class="form-label fw-light text-white">Name</label>
    <input id="name" type="text" class="form-control" formControlName="name" >
  </div>
  <div class="mb-3">
    <label  for="address"class="form-label fw-light text-white">Addresse</label>
    <input id="address" type="text" class="form-control" formControlName="address">
  </div>
  <div class="d-flex justify-content-end">
    <div class="alert alert-error collapse" role="alert" id="passwordsNoMatchRegister">
      <span>
      <p>Looks like the passwords you entered don't match!</p>
      </span>
    </div>
    <button type="submit" class="btn border-warning fw-light text-warning bg-white shadow-sm" data-dismiss="alert">Buy</button>
  </div>
</form>

</div>
</div>



    

