<div class="container border-bottom border-warning ">
    <nav class="navbar navbar-light fixed" >
        <ul class="nav">
            <li>
                <a class=" btn  rounded-3 text-white btn-sm border-0 ms-4"  routerLink="/">Home</a>
            </li>
            <li>
                <a class=" btn  rounded-3 text-white btn-sm border-0 ms-4"  routerLink="/blog">Blog</a>
            </li>
            <li>
                <a class=" btn  rounded-3 text-white btn-sm border-0 ms-4"  routerLink="/travels">Travels</a>
            </li>
        </ul>
        
        <div class="btn text-warning  btn-sm bg-transparent  border-0  me-5" type="submit"  routerLink="/cart"><i class="fas fa-shopping-cart  px-3"></i></div>
    </nav>
</div>